h3,
h2,
h1 {
  text-align: center;
}
/*
#degrees,
#minors {
  align-items: center;
  width: 50%;
  margin: auto;
}
#about {
  width: 50%;
  margin: auto;
}
*/
.content {
    width: 50%;
    margin: auto;
    align-items: center;
}
.nav a:hover {
  background-color: #ccd232;
  color: black;
}
.nav a.active {
  background-color: #ff6b7f;
  color: white;
}
.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #93c3cd;
}
.nav {
  overflow: hidden;
}
#footer {
    text-align: center;
    border:1px solid black;
    margin: auto;
}
